<md-dialog>
    <md-toolbar>
        <md-toolbar-tools>
            <h2>Add/Edit Test</h2>
        </md-toolbar-tools>
    </md-toolbar>
    <md-dialog-content>
        <md-content layout-padding layout="row">
            <md-input-container>
                <label>Name</label>
                <input ng-model="vm.Name">
            </md-input-container>
            <md-input-container>
                <label>URL</label>
                <input ng-model="vm.Url">
            </md-input-container>
        </md-content>
        <md-content layout="column" layout-margin>
            <md-chips ng-model="vm.Tags" placeholder="Enter a tag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag"
            secondary-placeholder="+Tag" />
        </md-content>
        <md-content>
            <div ui-ace="{ mode: 'javascript' }" ng-model="vm.Code" style="height: 200px; width: 100%;"></div>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.Save()">Zapisz</md-button>
        <md-button ng-click="vm.Cancel()">Anuluj</md-button>
    </md-dialog-actions>

</md-dialog>