<md-dialog>
    <md-dialog-content>
        <md-content layout-padding layout="column">
            <h2>Add/Edit Test</h2>
            <md-input-container>
                <label>Name</label>
                <input ng-model="vm.Name">
            </md-input-container>

            <md-input-container>
                <label>URL</label>
                <input ng-model="vm.Url">
            </md-input-container>

            <md-input-container>
                <label>Tags</label>
                <textarea cols="30" rows="10" ng-model="vm.Tags"></textarea>
            </md-input-container>

            <md-input-container>
                <label>Test Content</label>
                <textarea cols="30" rows="2" placeholder="Write test code..." ng-model="vm.Code"></textarea>
            </md-input-container>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.Save()">Zapisz</md-button>
        <md-button ng-click="vm.Cancel()">Anuluj</md-button>
    </md-dialog-actions>

</md-dialog>