<div>
    <input type="text" placeholder="Wyszukiwarka" ng-model="vm.search">
  </div>
  <div class='tests'>
    <table cellspacing='0' >
      <thead>
        <tr class='odd'>
          <th>Ptaszek</th>
          <th>Nazwa</th>
          <th>URL</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="test in vm.Tests">
          <td><input type="checkbox"/></td>
          <td>{{test.Name}}</td>
          <td>{{test.Url}}</td>
          <td>Nowy</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='buttons'>
    <button>Historia</button>
    <button>Uruchom</button>
    <button>Usuń</button>
    <button>Edytuj</button>
  </div>