<md-toolbar ng-show="!vm.isSearchVisible">
  <div class="md-toolbar-tools">
    <h3>
      UI Test Runner
    </h3>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Szukaj" ng-click="vm.showSearch()">
      <ng-md-icon icon="search"></ng-md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-toolbar class="md-hue-1" ng-show="vm.isSearchVisible">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="vm.hideSearch()" aria-label="Back">
      <ng-md-icon icon="arrow_back"></ng-md-icon>
    </md-button>
    <md-input-container md-theme="input" flex>
      <label>&nbsp;</label>
      <input ng-model="vm.searchText" placeholder="wyszukaj" ng-keyup="vm.onKeyUp($event)" focus-if="vm.isSearchVisible">
    </md-input-container>
    <md-button class="md-icon-button" aria-label="Szukaj" ng-click="vm.search()">
      <ng-md-icon icon="search"></ng-md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-content class="md-default-theme">
  <md-button class="md-raised md-icon-button md-fab md-fab-bottom-right" ng-click="vm.add($event)">
    <ng-md-icon icon="add"></ng-md-icon>
  </md-button>
  <ui-view layout="column" layout-padding>
    <md-card>
      <md-card-content>
        <h2>Testy</h2>
        <md-list>
          <md-list-item ng-repeat="test in vm.tests">
                <p>{{test.name}}</p>
                <p>{{test.url}}</p>
                <p>{{test.tags.join(',')}}</p>
                <md-button ng-click="vm.edit($event, test)" aria-label="Edycja">Edycja</md-button>
                <md-button ng-click="vm.remove(test)" aria-label="Usuń">Usuń</md-button>
              <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </ui-view>
  <div class='buttons'>
    <md-button class="md-raised">Historia</md-button>
    <md-button class="md-raised">Uruchom</md-button>
  </div>
</md-content>