<div>
  <input type="text" placeholder="Wyszukiwarka" ng-model="vm.search">
</div>

<md-button class="md-fab md-accent" ng-transclude ng-click="vm.add()">
    <span>+</span>
  </md-button>
<div class='tests'>
  <md-data-table-container>
    <table md-data-table md-row-select="selected" md-progress="deferred">
      <thead>
        <tr>
          <th name="Nazwa"></th>
          <th name="URL"></th>
          <th name="Status"></th>
          <th name=""></th>
        </tr>
      </thead>
      <tbody>
        <tr md-auto-select ng-repeat="test in vm.Tests">
          <td>{{test.Name}}</td>
          <td>{{test.Url}}</td>
          <td>Nowy</td>
          <td>
            <md-button class="md-raised" ng-click="vm.edit(test)" aria-label="Edycja">Edycja</md-button>
            <md-button class="md-raised" ng-click="vm.remove(test)" aria-label="Usuń">Usuń</md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-data-table-container>
</div>
<div class='buttons'>
  <md-button class="md-raised">Historia</md-button>
  <md-button class="md-raised">Uruchom</md-button>
</div>